---
layout: speakers
title: Speakers
permalink: /speakers/
---

<section id="fh5co-speakers" class="speakers-page" data-section="speakers">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">Keynote Speakers</h2>
            </div>
        </div>
        {% for speaker in site.data.speakers.keynote %}
          {% include speaker_details.html %}
        {% endfor %}

        <div class="row">
            <div class="col-md-12 section-heading breakout text-center">
                <h2 class="to-animate">Breakout Speakers</h2>
            </div>
        </div>
        {% for speaker in site.data.speakers.breakout %}
          {% include speaker_details.html %}
        {% endfor %}
	</div>
</section>
