---
layout: sponsors
title: Sponsors
permalink: /sponsors/
---

<section id="fh5co-sponsors" data-section="sponsors">
	<div class="container">
		<div class="row">
			<div class="col-md-12 section-heading text-center">
				<h1 class="to-animate">Sponsors</h1>
				<div class="row">
					<div class="col-md-8 col-md-offset-2 subtext to-animate">
						<h3>CUSEC is only possible with the support of all our sponsors.</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="row partner">
            <div class="col-md-12 text-center">
				<h2 class="to-animate">Partner</h2>
                <div class="row">
    				<div class="col-md-8 col-md-offset-2 to-animate-2">
    					<img src="{{ '/assets/images/' | prepend: site.url | append: site.data.sponsors.partner.logo }}" alt="{{ site.data.sponsors.partner.alt_text }}" class="img-responsive center-block">
    				</div>
                </div>
			</div>
        </div>
        <div class="row gold">
            <div class="col-md-12 text-center">
                <h2 class="to-animate">Gold Sponsors</h2>
                <div class="row">
                    {% for sponsor in site.data.sponsors.gold %}
        			<div class="col-xs-6 col-sm-4 col-md-3 to-animate-2">
                        <div class="sponsor-item">
        					<img src="{{ '/assets/images/' | prepend: site.url | append: sponsor.logo }}" alt="{{ sponsor.alt_text }}" class="img-responsive center-block">
                        </div>
        			</div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row silver">
            <div class="col-md-12 text-center">
                <h2 class="to-animate">Silver Sponsors</h2>
                <div class="row">
                    {% for sponsor in site.data.sponsors.silver %}
        			<div class="col-xs-6 col-sm-4 col-md-4 to-animate-2">
                        <div class="sponsor-item">
        					<img src="{{ '/assets/images/' | prepend: site.url | append: sponsor.logo }}" alt="{{ sponsor.alt_text }}" class="img-responsive center-block">
                        </div>
        			</div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row silver">
            <div class="col-md-12 text-center">
                <h2 class="to-animate">Bronze Sponsors</h2>
                <div class="row">
                    {% for sponsor in site.data.sponsors.bronze %}
                    <div class="col-xs-6 col-sm-4 col-md-4 to-animate-2">
                        <div class="sponsor-item">
        					<img src="{{ '/assets/images/' | prepend: site.url | append: sponsor.logo }}" alt="{{ sponsor.alt_text }}" class="img-responsive center-block">
                        </div>
        			</div>
                    {% endfor %}
                </div>
            </div>
        </div>
	</div>
</section>
