<section id="fh5co-speakers" data-section="speakers">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">Keynote Speakers</h2>
            </div>
        </div>
        <div class="row">
            {% for speaker in site.data.speakers.keynote limit:3 %}
            <div class="col-md-4 {% if forloop.last == false %} speaker-section {% endif %} {% if speaker.social %} speaker-section-social {% endif %}">
                {% include speaker_profile_front.html %}
            </div>
            {% endfor %}
        </div>
        <div class="row">
            {% for speaker in site.data.speakers.keynote limit:3 offset:3 %}
            <div class="col-md-4 {% if forloop.last == false %} speaker-section {% endif %} second-row col-md-offset-1 {% if speaker.social %} speaker-section-social {% endif %}">
                {% include speaker_profile_front.html %}
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-12 section-footing text-center">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext to-animate">
                        <button type="button" onclick="location.href='{{"/speakers/" | prepend: site.url }}'" class="btn btn-default">
                            View All Speakers <i class="icon-arrow-right"></i>
                        </button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
